html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.map {
    position: absolute;
    height: 75%; 
    width: 100%;
}

.margin-center {
    margin: 0 auto;
}

.bg-light-green {
    background: rgb(209, 240, 210);
}

.bg-gray {
    background: rgb(195, 194, 194);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}