{% extends "base.html" %}

{% block content %}
<div class="p-2 mt-5">
    <h1>Add new user location</h1>
</div>
<hr>
<div class="container mt-5">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto text-center form">
        <form action="{{url_for('location.add_location')}}" method="POST" class="justify-content-center">
            <div class="form-group row">
                <label class="col-4 text-left mt-1" for="location">New user location:</label>
                <input class="col-8 text-left" type="text" id="location" name="location" placeholder="Kitchen/Living Room" required>
            </div>
            <input class="mt-2 btn btn-dark" type="submit" value="Add">
        </form>
    </div>
</div>
{% endblock %}