{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
  {% else %}
    <h1>Legitimate person</h1>
    {% if results %}
        {% for results_row in results | batch(4) %}
        <div class="row">
          {% for item in results_row %}
        
            <div class="col bg-light-green mt-3 mb-3 ml-5 mr-5 p-2">
              <div class="row">
                <div class="pt-3 text-center"><b>MAC:</b>{{ item['1']}}</div>
                <div class="pt-3 text-center"><b>Date:</b> {{ item[2] }}</div>
                <div class="pt-3 text-center"><b>Hour:</b>{{ item[3] }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
    {% else %}
      <p class="pt-5 mt-5"> Legitimate person cannot be loaded, please refresh the page</p>
    {% endif %}
  {% endif %}
  {% endwith %}

{% endblock %}