{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
  {% else %}
    <h1>Last known user location</h1>
    {% if result %}
        <div class="row">
            <div class="col bg-light-green mt-3 mb-3 ml-5 mr-5 p-2">
                <div class="pt-3 text-center">{{ result['location']}}</div>
            </div>
        </div>
    {% else %}
      <p class="pt-5 mt-5"> Last known user location cannot be loaded, please refresh the page</p>
    {% endif %}
  {% endif %}
  {% endwith %}

{% endblock %}