{% extends "base.html" %}

{% block content %}
<div class="p-2 mt-5">
    <h1>Update a legitimate person</h1>
</div>
<hr>
<div class="container mt-5">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto text-center form">
        <form action="{{url_for('legitimate_person.update_legitimate_person')}}" method="POST" class="justify-content-center">

            <div class="form-group row">
                <label class="col-4 text-left mt-1" for="old_MAC">Old MAC:</label>
                <input class="col-8 text-left" type="text" id="old_MAC" name="old_MAC" placeholder="00:00:00:00:00:00" required>
            </div>

            <div class="form-group row">
                <label class="col-4 text-left mt-1" for="new_MAC">New MAC:</label>
                <input class="col-8 text-left" type="text" id="new_MAC" name="new_MAC" placeholder="FF:FF:FF:FF:FF:FF" required>
            </div>
            <input class="mt-2 btn btn-dark" type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}